.jobs-bgcontainer {
  width: 100vw;

  background-color: #000000;
}
.jobs-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
}
.jobs-left-container {
  width: 17%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.jobs-right-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  color: #ffff;
  height: 90vh;
}
.link {
  text-decoration: none;
}
.Profile-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.left-line {
  color: #ffff;
  width: 225px;
}
.employmentType-heading {
  color: #ffff;
  font-size: 20px;
  font-family: roboto;
  margin-left: 10px;
}
.employmentType {
  width: 200px;
}
.location-list {
  display: flex;
  flex-direction: column;
}
label {
  color: #ffff;
}
.checkbox {
  width: 20px;
  height: 18px;
  margin-right: 10px;
}
.search-icon {
  width: 20px;
  color: #ffff;
  height: 28px;
}
.searchbtn {
  background-color: #272727;
}
.search-bar {
  display: flex;
  justify-content: flex-start;
  width: 350px;
  background-color: transparent;
  border: 1px solid #7e858e;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
}
.searchInput {
  background-color: transparent;
  flex-grow: 1;
  width: 20px;
  outline: none;
  border: 0px;
  color: #ffff;
}
.ul-job-items-container {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.no-jobs-container {
  width: 100%;
}
.no-jobs-img {
  width: 300px;
}
p {
  color: #ffff;
}
.Failure-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.retrybtn {
  background-color: #6366f1;
  border: 0px;
  height: 32px;
  width: 100px;
  color: #ffff;
  border-radius: 2px;
}
.nojobcss {
  display: none;
}

@media (max-width: 768px) {
  .jobs-container {
    display: flex;
    flex-direction: column;
  }
  .jobs-left-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 50vh;
    flex-grow: 2;
  }
  .left-line {
    display: none;
  }
  .ul-list-cont {
    width: 180px;
  }
  .employmentType-heading {
    font-size: 14px;
  }
  .employmentType {
    width: 150px;
  }
  .Salarytype {
    width: 200px;
  }
  .search-bar {
    width: 200px;
  }
  .search-icon {
    width: 15px;
    color: #ffff;
    height: 22px;
  }
  .jobs-right-container {
    justify-content: center;
    width: 95vw;
  }
}
